.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*.form{
  display: flex;
  flex-direction: column;
}

.form input, select{
  border-bottom: 2px solid black;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.form label{
  text-align: justify;
}
*/
h1 {
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

